.about-left{
    text-align: justify;
    margin: 13rem 0rem 2rem 0rem;
}
.about-left p{
    font-family: 'Roboto', sans-serif;
    padding: 0.2rem 1rem 0rem 1rem; 
}
.about-left h2{
    padding-left: 1rem;
    text-align: left;
    font-size: 25px;    
}
.about-left ul{
    margin: 0rem 1rem;
    padding-left: 0rem;    
}
.about-left ul li{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.about-right{
    text-align: left;
    margin: 13rem 1rem;
}
.about-right h2{
    margin-top: 1rem;
    font-size: 25px;
}
.about-right .icon-div{
    display: flex;
    font-size: 25px;
    justify-content: center;
}
.about-right .icon-div a{
    margin: 0rem 2rem;
}


/* ************** START MEDIA QUERRY 820px ************** */
@media screen and (max-width: 667px) {
    .about-left p{
        padding: 0.2rem 1rem 0rem 1rem;
        font-size: 15px; 
        font-family: 'Roboto', sans-serif;
     }
     .about-left ul li{
        list-style: none;
        margin-left: 0px;
        padding-left: 0px;
        font-size: 14px;
        color: black;
        font-family: 'Roboto', sans-serif;
    }
     .about-left h2{
         padding-left: 1rem;
         text-align: left;
         font-size: 18px;    
     }
    .about-right{
        text-align: left;
        margin: 1rem 1rem;
    }
}
/* ************** START MEDIA QUERRY 820px ************** */